src/conf/xml-resources/web-service-references/servicio/wsdl/localhost_8080/autobus_obb/servicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SERVICIO/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SERVICIO/" name="servicio">
<types>
<xsd:schema>
<xsd:import namespace="http://SERVICIO/" schemaLocation="http://localhost:8080/autobus_obb/servicio?xsd=1"/>
</xsd:schema>
</types>
<message name="devuelveViajesV2">
<part name="parameters" element="tns:devuelveViajesV2"/>
</message>
<message name="devuelveViajesV2Response">
<part name="parameters" element="tns:devuelveViajesV2Response"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="devuelveViajes">
<part name="parameters" element="tns:devuelveViajes"/>
</message>
<message name="devuelveViajesResponse">
<part name="parameters" element="tns:devuelveViajesResponse"/>
</message>
<portType name="servicio">
<operation name="devuelveViajesV2">
<input wsam:Action="http://SERVICIO/servicio/devuelveViajesV2Request" message="tns:devuelveViajesV2"/>
<output wsam:Action="http://SERVICIO/servicio/devuelveViajesV2Response" message="tns:devuelveViajesV2Response"/>
</operation>
<operation name="hello">
<input wsam:Action="http://SERVICIO/servicio/helloRequest" message="tns:hello"/>
<output wsam:Action="http://SERVICIO/servicio/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="devuelveViajes">
<input wsam:Action="http://SERVICIO/servicio/devuelveViajesRequest" message="tns:devuelveViajes"/>
<output wsam:Action="http://SERVICIO/servicio/devuelveViajesResponse" message="tns:devuelveViajesResponse"/>
</operation>
</portType>
<binding name="servicioPortBinding" type="tns:servicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="devuelveViajesV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devuelveViajes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicio">
<port name="servicioPort" binding="tns:servicioPortBinding">
<soap:address location="http://localhost:8080/autobus_obb/servicio"/>
</port>
</service>
</definitions>