src/conf/xml-resources/web-service-references/servicio/wsdl/localhost_8080/autobus_obb/servicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://SERVICIO/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://SERVICIO/">

<xs:element name="devuelveViajes" type="tns:devuelveViajes"/>

<xs:element name="devuelveViajesResponse" type="tns:devuelveViajesResponse"/>

<xs:element name="devuelveViajesV2" type="tns:devuelveViajesV2"/>

<xs:element name="devuelveViajesV2Response" type="tns:devuelveViajesV2Response"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="devuelveViajesV2">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="devuelveViajesV2Response">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="devuelveViajes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="devuelveViajesResponse">
<xs:sequence>
<xs:element name="return" type="tns:trayecto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trayecto">
<xs:sequence>
<xs:element name="destino" type="xs:string" minOccurs="0"/>
<xs:element name="fechaSalida" type="xs:string" minOccurs="0"/>
<xs:element name="horaSalida" type="xs:string" minOccurs="0"/>
<xs:element name="origen" type="xs:string" minOccurs="0"/>
<xs:element name="plazasDisponibles" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>